{% include "base2.html" %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<a name="inicio" id="inicio"><center><FONT COLOR=black><h2>Ayuda</h2></font></center></a><br><br>
</head>
<body>
<a href="#Acerca" style="margin-left:5%"><FONT SIZE=4> + Acerca de Control de Acceso LAC</font></a><br><br>
<a href="#Secciones" style="margin-left:5%"><FONT SIZE=4> + Descripcion de funcionalidades</font></a><br><br>
<a href="#Usuarioweb" style="margin-left:12%"><FONT SIZE=3> + Agregar usuario web</font></a><br><br>
<a href="#Exportar" style="margin-left:12%"><FONT SIZE=3> + Exportar tablas a Excel</font></a><br><br>
<a href="#EventosUsuario" style="margin-left:12%"><FONT SIZE=3> + Ver eventos de un usuario específico</font></a><br><br>
<a href="#EventosDenegados" style="margin-left:12%"><FONT SIZE=3> + Ver eventos de acceso denegado</font></a><br><br>
<a href="#Imagenes" style="margin-left:12%"><FONT SIZE=3> + Visualización y descarga de imagenes</font></a><br><br>
<a href="#Usuario" style="margin-left:12%"><FONT SIZE=3> + Agregar usuario al sistema de acceso</font></a><br><br>
<a href="#Categoria" style="margin-left:12%"><FONT SIZE=3> + Agregar categoria de usuarios</font></a><br><br>
<a href="#Franjas" style="margin-left:12%"><FONT SIZE=3> + Agregar franjas horarias</font></a><br><br>
<a href="#Errores" style="margin-left:5%"><FONT SIZE=4> + Errores y posibles soluciones</font></a><br><br><br><br><br>
<div class="panel panel-default">
  <div class="panel-heading"></div>
  
</div>

<center><a name="Acerca" id="Acerca" > <FONT COLOR=black><h3><br><br><u>Acerca de Control de Acceso LAC</u></h3></font></a><br>
	<FONT FACE="arial" SIZE=3 COLOR=black  > El Control de Acceso, Seguridad y Vigilancia del Laboratorio de Arquitectura de Computadoras (LAC) fue desarrollado como Tesis de grado en el año 2015 por los estudiantes DOMINGUEZ, Mariano y JUAN, Leandro de la carrera de Ingeniería en Computación de la Facultad de Ciencias Exactas, Físicas y Naturales (UNC).</font><br><br>
<a href="#inicio"><FONT SIZE=3> Volver</font></a></center>

<center><a name="Secciones" id="Secciones" > <FONT COLOR=black><h3><br><br><u>Descripcion de funcionalidades</u></h3></font></a><br>
<FONT  FACE="arial" SIZE=3 COLOR=black  > En este apartado se describiran las funcionalidades que posee el software de control web y como realizar las distintas funciones que cada seccion posee </font><br><br></center>

<center><a name="Usuarioweb" id="Usuarioweb" > <FONT COLOR=black><h4><br><br><br><u>Agregar usuario web</u></h4></font></a><br>
<FONT  FACE="arial" SIZE=3 COLOR=black  > Solo los administradores superusuario (admin) pueden encargarse de agregar y eliminar usuarios para que administren el entorno web. El admin podra acceder a todas las funcionalidades presentes en el entorno web. Aquellos que no son superusuarios tendran los permisos para acceder a todas las funciones del software de control web a excepcion de la siguientes:<br><br>

		** Agregar, editar o eliminar usuarios del sistema de acceso **<br>
		** Agregar, editar o eliminar franjas horarias **<br>
		** Agregar o eliminar categorias de usuarios **<br>
		** Reiniciar la placa Raspberry Pi **<br><br>

Para agregar un usuario web nuevo, el administrador superusuario (admin) debera ingresar a la seccion <i>admin</i> (http://[IP de Raspberry]/admin) de la pagina web. Luego de colocar su usuario y contraseña ir al apartado <i>usuarios</i> y hacer click en <b>agregar</b>. En la nueva pagina se deben completar los datos (usuario y contraseña) del nuevo usuario a agregar y clickear en el boton <b>Guardar y continuar editando</b>. Por ultimo completar los datos personales del usuario, mantener tildada la opcion de usuario <i>ACTIVO</i>, y tambien se puede tildar la opcion <i>SUPERUSUARIO</i> si se desea que la persona a agregar sea administrador con todos los privilegios. Solo queda hacer click en el boton <b>Guardar</b> para completar el proceso. </font><br><br>
<a href="#inicio" ><FONT SIZE=3> Volver</font></a></center>

<center><a name="Exportar" id="Exportar" > <FONT COLOR=black><h4><br><br><br><u>Exportar tablas a Excel</u></h4></font></a><br>
<FONT  FACE="arial" SIZE=3 COLOR=black  > Existe la posibilidad de exportar las siguientes tablas a una hoja de datos de Excel: Tabla de eventos, tabla de eventos web, tabla de eventos de acceso denegado, y tabla de usuarios.<br>
 Para ello hay que dirigirse a la seccion correspondiente, las cuales se encuentran en el extremo derecho de la barra de menu y luego ubicarse en la parte inferior de la pagina a la que se accedio.<br> 
 	En el caso de la tabla de usuarios solo debe clickearse en el boton <button  style="background-color: #F2F2F2;color:#1C1C1C;" id="exportar" name="exportar" backgroundtype="submit" class="standar">Exportar</button> para que comience la descarga de la tabla con TODOS los usuarios registrados en el sistema de acceso.<br>
	Para el caso de las tablas de eventos existen 2 opciones para exportar datos: se puede exportar la tabla por cantidad (Ultimos 100, ultimos 200, ultimos 500, ultimos 1000 o Todos) o bien se pueden exportar los eventos ocurridos en un dia especifico. Solo hace falta tildar la opcion que se desea (dejando la otra opcion bloqueada) y luego elegir la cantidad o el dia de los eventos que se quieran exportar. Por ultimo hacer click en el boton <button  style="background-color: #F2F2F2;color:#1C1C1C;" id="exportar" name="exportar" backgroundtype="submit" class="standar">Exportar</button> y la descarga comenzara inmediatamente.    </font><br><br>
<a href="#inicio" ><FONT SIZE=3> Volver</font></a></center>

<center><a name="EventosUsuario" id="EventosUsuario" > <FONT COLOR=black><h4><br><br><br><u>Ver eventos de un usuario especifico</u></h4></font></a><br>
<FONT FACE="arial" SIZE=3 COLOR=black  > Para poder realizar esto es necesario dirigirse a la seccion <i>Ver eventos</i> <button type="button" class="btn btn-default" title="Ver Eventos">
                <span class="glyphicon glyphicon-list"></span>
            </button> o <i>Ver eventos web</i> <button type="button" class="btn btn-default" title="Ver Eventos Web">
                <span class="glyphicon glyphicon-globe"></span>
            </button> (dependiendo de si se quieren ver los eventos de un usuario del sistema de acceso o de un usuario administrador del software de control) que se encuentra en el extremo derecho de la barra de menu. Una vez que se ingreso a esta seccion se cargara una lista con los eventos ocurridos recientemente, en la ultima columna de la tabla aparecera la opcion <a >Ver Eventos</a> para cada uno de los eventos registrados. Si se hace click en dicho boton se podran ver todos los eventos que involucran al usuario al que corresponde esa fila.</font><br><br>
<a href="#inicio" ><FONT SIZE=3> Volver</font></a></center>

<center><a name="EventosDenegados" id="EventosDenegados" > <FONT COLOR=black><h4><br><br><br><u>Ver eventos de acceso denegado</u></h4></font></a><br>
<FONT FACE="arial" SIZE=3 COLOR=black  > Existe la posibilidad de que se haya querido ingresar al Laboratorio con una tarjeta o llavero invalido. Dichos eventos tambien quedaran registrados en una tabla aparte y se podra acceder a ella de la siguiente manera:<br>
En primer lugar hay que dirigirse a la seccion <i>Ver eventos</i> <button type="button" class="btn btn-default" title="Ver Eventos">
                <span class="glyphicon glyphicon-list"></span>
            </button> que se encuentra en el extremo derecho de la barra de menu. Una vez que se ingreso a esta seccion se cargara una lista con los eventos ocurridos recientemente, y en la parte inferior de esta tabla aparecerá un boton llamado <button type="submit" class="standar">Ver intentos de acceso fallidos</button>. Al hacer click en este boton se nos redireccionara a la pagina que contiene la tabla correspondiente. </font><br><br>
<a href="#inicio" ><FONT SIZE=3> Volver</font></a></center>

<center><a name="Imagenes" id="Imagenes" > <FONT COLOR=black><h4><br><br><br><u>Visualización y descarga de imagenes</u></h4></font></a><br>
<FONT FACE="arial" SIZE=3 COLOR=black  > Para poder ver las capturas de imagen realizadas por la camara web hay que dirigise a la seccion <i>Ver imagenes</i> <button type="button" class="btn btn-default" title="Ver Imagenes">
                <span class="glyphicon glyphicon-picture"></span>
            </button> que se encuentra en el extremo derecho de la barra de menu. <br>
	Existen dos posibilidades para visualizar las imagenes: En primer lugar se pueden ver todas las imagenes capturadas existentes dentro de la misma pagina. Para ello se debe hacer click en el boton <button type="submit" class="standar">Cargar</button> sin haber elegido ninguna fecha en el casillero selector. Tambien se pueden visualizar las imagenes que fueron capturadas en un dia especifico, para lo cual hay que colocarse en el casillero selector y se abrira un calendario en el cual debera elegirse la fecha que se desea. Luego clickear en el boton <button type="submit" class="standar">Cargar</button> para poder visualizar las imagenes correspondientes. <br>
	En el caso de querer descargar una imagen en particular solo hacer que hacer click en el boton de descarga correspondiente a cada imagen </font><br><br>
<a href="#inicio" ><FONT SIZE=3> Volver</font></a></center>

<center><a name="Usuario" id="Usuario" > <FONT COLOR=black><h3><br><br><u>Agregar usuario al sistema de acceso</u></h3></font></a><br>
<FONT  FACE="arial" SIZE=3 COLOR=black  > Para registrar un usuario al sistema de acceso es necesario dirigirse al boton <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">

                 <span><span class="glyphicon glyphicon-chevron-down "></span></span>
    </button> en el extremo derecho de la barra de menu y luego hacer click en la opcion <i>Agregar Usuario</i>. Posteriormente aparecera una tabla estilo formulario la cual debemos completar con los datos personales del usuario a registrar. A su vez debemos seleccionar la opcion de ACTIVO en el estado si queremos habilitar al nuevo usuario para que pueda ingresar al laboratorio, elegir la opcion de TARJETA o LLAVERO dependiendo de cual sera el medio por el cual ingresara al establecimiento y luego asignarle también una CATEGORÍA de la lista de posibilidades.<br>
    Por ultimo debemos asignar una clave de tarjeta para el usuario. Para ello debemos hacer click en el boton <input type="submit" value="Capturar Clave" class="btn btn-default" > y comenzara una cuenta regresiva de 10 segundos aproximadamente. En ese tiempo debemos aproximar una tarjeta o llavero nuevo al lector RFID externo al Laboratorio y la clave sera capturada y completada automaticamente en el casillero correspondiente. Es necesario que la captura de la clave se realice antes de completar todos los datos previos, ya que luego de la captura se eliminara la informacion presente en cada uno de los casilleros. Una vez completados todos los datos se debe clickear el boton <input type="submit" value="Grabar" > para completar el proceso. <br><br>
<a href="#inicio"><FONT SIZE=3> Volver</font></a></center>

<center><a name="Errores" id="Errores" > <FONT COLOR=black><h3><br><br><u>Errores y posibles soluciones</u></h3></font></a><br>
<FONT  FACE="arial" SIZE=3 COLOR=black  > El Control de Acceso, Seguridad y Vigilancia del Laboratorio de Arquitectura de Computadoras (LAC) fue desarrollado como Tesis de Grado por los estudiantes Dominguez, Mariano y Juan, Leandro de la carrera de Ingeniería en Computación de la Facultad de Ciencias Exactas, Físicas y Naturales.<br><br>
<a href="#inicio"><FONT SIZE=3> Volver</font></a></center>
</body>
</html>