{% include 'base2.html' %}
<center><h2>Capturas de imagen</h2></center>

<html>
    <head>
        <title>bootstrap datepicker examples</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="/static/js/jquery-1.9.1.min.js"></script>
        <script src="/static/js/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="/static/css/datepicker.css">

            <script type="text/javascript">
                // When the document is ready
                $(document).ready(function () {
                    
                    $('#example1').datepicker({
                        format: "dd-mm-yyyy"
                    });  
                
                });
            </script>
    </head>
    <body>
        <form action="/showphoto" method="post">{% csrf_token %}
        <div class="container">
            <div class="hero-unit">
            <i>Seleccione un día: </i> <input  type="text" placeholder="DD-MM-YYYY" name="from"  id="example1">
            <button type="submit" class="standar">Cargar</button> <i>{{dateFrom}}</i>
            </div>
        </div>
        <!-- Load jQuery and bootstrap datepicker scripts -->
        
    
         
        </form>
    
     {% for photo in photos%}    
   
  <div class="col-sm-1 col-md-2">
    <a href="/static/photo/{{photo}}" class="thumbnail">
      
       <img width=100 height=100  src="/static/photo/{{photo}}" class="img-rectangle"> 
    <div class="caption">
        <p>{{photo}}</p>
    </div>
    </a>
  </div>

      {%endfor%}
</html>

 





